<% page ||= index_branch %>

<li id="contenticus_slug=<%= page.id %>">
  <div class="item">
    <div class="btn-group">
      <%= link_to "Add Subpage", new_contenticus_admin_page_path(parent_id: page.id), class: "btn btn-default" %>      
      <%= link_to "Edit", edit_contenticus_admin_page_path(page.sluggable), class: "btn btn-default" %>
    </div>
    <div class="icon">
      <span class="glyphicon glyphicon-file"></span>
      <span class="glyphicon glyphicon-move dragger"></span>
    </div>
    <div class="item-content">
      <div class="item-title">
        <%= page.label %>
      </div>
      <div class="item-meta">
        <%= link_to page.full_path, page.full_path %>
      </div>
    </div>

  </div>

  <% if children.any? %>
    <ul class="sortable">
      <% children.each do |page, children| %>
        <%= render partial: 'index_branch', object: page, locals: {children: children } %>
      <% end %>      
    </ul>
  <% end %>
</li>