- page ||= index_branch
- block = page.sluggable.block
- toggle_tooltip = block.published? ? 'Page is live - click to take offline' : 'Page is offline - click to take live'
- toggle_class = block.published? ? 'btn-success' : 'btn-default'

%li{id: "contenticus_slug_#{page.id}" }
  .item
    .btn-toolbar.pull-right
      .btn-group
        = link_to "Add Subpage", new_contenticus_admin_page_path(parent_id: page.id), class: "btn btn-default"
        = link_to contenticus_admin_page_path(page.sluggable), method: 'delete', class: "btn btn-danger" do
          %span.glyphicon.glyphicon-remove
      .btn-group{'data-toggle' => 'tooltip', 'data-placement' => "left", 'title' => toggle_tooltip}
        = link_to toggle_contenticus_admin_block_path(block), method: 'put', class: "btn #{toggle_class}" do
          %span.glyphicon.glyphicon-off
        = link_to "Edit", edit_contenticus_admin_page_path(page.sluggable), class: "btn btn-primary"

    - if page.children.any?
      = btn_collapse(branch_open, css_classes: 'btn-default btn-xs branch-toggle', target: "#slug_#{page.id}")
    .icon
      %span.glyphicon.glyphicon-file
      %span.glyphicon.glyphicon-move.dragger
    .item-content
      .item-title= page.label
      .item-meta= link_to page.full_path, page.full_path
  - if children.any?
    %ul.sortable.collapse{id: "slug_#{page.id}", class: (branch_open ? 'in' : '')}
      - children.each do |page,children|
        = render partial: 'index_branch', object: page, locals: {children: children, branch_open: false }
