<h1> Text: <%= cms_field(:title, page) %> </h1>
<%= cms_field(:sub_title, page) %>

<ul>
  <%= cms_section("list", page) %>
</ul>

<%= cms_section("list", page, "br") %>

<%= cms_field(:the_end, page) %>

<%= cms_section("notlist", page, "br") %>