<h1> Text: <%= cms_field(:title, page) %> </h1>
<%= cms_field(:sub_title, page) %>

<%= cms_image(:bild, page, aspect: "3:1") %>

<%= cms_image(:bild2, page, aspect: "4:3") %>

<%= cms_section("list", page) %>

<%= cms_field(:the_end, page) %>

